{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "HMWGCVU4SV.com.the360ghar.ghar360",
        "paths": [
          "/p/*",
          "/property/*"
        ]
      }
    ]
  },
  "webcredentials": {
    "apps": [
      "HMWGCVU4SV.com.the360ghar.ghar360"
    ]
  }
}
