<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>production</string>
    <key>com.apple.developer.applesignin</key>
    <array>
        <string>Default</string>
    </array>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:360ghar.com</string>
        <string>applinks:www.360ghar.com</string>
        <string>webcredentials:360ghar.com</string>
    </array>
</dict>
</plist>
